# Application
NODE_ENV=development
PORT=8000
API_PREFIX=api

# URL's
DASHBOARD_URL=http://localhost:3010
FRONTEND_URL=http://localhost:3000

# Auth
MAGIC_LINK_CALLBACK_PATH=/auth/verify
MAGIC_LINK_EXPIRES_IN=1800
ACCESS_SECRET=your-super-secret-key-min-32-caracteres
ACCESS_EXPIRES_IN=10m
REFRESH_SECRET=your-refresh-secret-key-min-32-caracteres
REFRESH_EXPIRES_IN=1d

# Database
DATABASE_URL=postgresql://postgres:password@postgres:5432/database?schema=public

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Email
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=noreply@storagie.com
EMAIL_LOGOTYPE_URL=https://image.storagie.com/logotypes/logo-dark.svg

# Cookie
COOKIE_DOMAIN=
COOKIE_SECURE=false

# Cache
CACHE_DRIVER=redis
CACHE_TTL=3600

# Queue
QUEUE_CONCURRENCY=5
QUEUE_RETRY_ATTEMPTS=3

# Logging
LOG_LEVEL=debug
ENABLE_PERF_LOGGING=true
ENABLE_QUERY_LOGGING=false

# New Relic APM
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=Storagie API
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_LOG_LEVEL=info
