# Application
NODE_ENV=development
PORT=8000
API_PREFIX=api

# URL's
DASHBOARD_URL=http://localhost:3010
FRONTEND_URL=http://localhost:3000

# Auth
MAGIC_LINK_CALLBACK_PATH=/auth/verify
MAGIC_LINK_EXPIRES_IN=1800

ACCESS_SECRET=sua-super-secret-key-min-32-caracteres
ACCESS_EXPIRES_IN=10m

REFRESH_SECRET=sua-refresh-secret-key-min-32-caracteres
REFRESH_EXPIRES_IN=1d

# Databases
DATABASE_URL="postgresql://postgres:password@localhost:5432/database?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Email
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@storagie.app
EMAIL_LOGOTYPE_URL=https://storagie.app/logo.png

# Cookie
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# Cache
CACHE_DRIVER=redis
CACHE_TTL=3600

# Queue
QUEUE_CONCURRENCY=5
QUEUE_RETRY_ATTEMPTS=3

# Logging
LOG_LEVEL=debug
ENABLE_PERF_LOGGING=true
ENABLE_QUERY_LOGGING=false
