<hr style='
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border: none;
    border-top: 1px solid #eaeaea;
  ' />
<p style="
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin: 16px 0;
    text-align: center;
    font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  ">
    Storagie helps you turn your ideas into reality. ❤️<br />
    &copy;
    {{year}}
    Storagie Inc. All rights reserved.
</p>