<h1 style="
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
">
  Get
  <strong style='font-weight: 600;'>Started</strong>
  Now
</h1>

<p style="
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 24px;
  margin: 30px 0;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
">
  Hello,
  {{name}}<br />
</p>

<p style="
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 500;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  ">
  ✨ Your passport to Storagie is one click away.
</p>

<div style='text-align: center; margin: 25px 0;'>
  <a href='{{magicLinkUrl}}' style="
    background-color: rgb(0, 0, 0);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 0.75rem 1.25rem;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  ">
    Join Storagie
  </a>
</div>

<p style="
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 16px 0;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
">
  If the button does not work, copy and paste this link into your browser:
</p>

<div style="
  word-break: break-all;
  margin: 15px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
">
  {{magicLinkUrl}}
</div>

<p style="
  color: rgb(102, 102, 102);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 20px 0 0 0;
  text-align: center;
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
">
  This link expires in <strong>{{expiresInMinutes}} minutes</strong>.
</p>
